// Variables
:root {
    --font-primary: 'Rubik', sans-serif;

	--font-text: var(--font-primary);

    //Font size
	--global--size-base: 1rem;
	--global--size-xs: 0.9rem;
	--global--size-sm: 2rem;
	--global--size-md: 2.5rem;
	--global--size-lg: 3rem;
	--global--size-xl: 4rem;

    //Font weight
	--global-weight-thin: 300;
	--global-weight-regular: 400;
	--global-weight-medium: 500;
	--global-weight-smbold: 600;
	--global-weight-bold: 700;
	--global-weight-extrabold: 800;

    /* line Height */
	--global--line-height-16: 1.6;
	--global--line-height-15: 1.5;
	--global--line-height-14: 1.4;
	--global--line-height-13: 1.3;
	--global--line-height-12: 1.2;
	--global--line-height-11: 1.1;
	--global--line-height-10: 1;

    /* Colors */
	--global-color-1: #FC5000;
	--global-color-2: #fff;
	--global-color-3: #111;
	--global-color-4: #212121;
	--global-color-5: #F3BF70;

	--color-background: var(--global-color-2);

    /* Headings */
	--h1-font-heading: var(--font-primary);
	--h1-color: var(--global-color-2);
	--h1-size: var(--global--size-xl);
	--h1-weight: var(--global-weight-medium);
	--h1-line-height: var(--global--line-height-11);

	--h2-font-heading: var(--font-primary);
	--h2-color: var(--global-color-2);
	--h2-size: var(--global--size-lg);
	--h2-weight: var(--global-weight-medium);
	--h2-line-height: var(--global--line-height-12);

	--h3-font-heading: var(--font-primary);
	--h3-color: var(--global-color-2);
	--h3-size: var(--global--size-md);
	--h3-weight: var(--global-weight-medium);
	--h3-line-height: var(--global--line-height-14);

    //Link
	--link-color: var(--global-color-1);
	--link-weight: inherit;
	--link-size: inherit;

	/* Paragraph */
	--text-font-heading: var(--font-primary);
    --font-text: var(--font-primary);
	--text-color: var(--global-color-3);
	--text-size: var(--global--size-base);
	--text-weight: var(--global-weight-thin);
	--text-line-height: var(--global--line-height-16);
}