// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";

/* CUSTOM STYLES
-------------------------------------------------- */
//Smooth Scroll
html {
  scroll-behavior: smooth;
}
/* Padding below the footer and lighter body text */

body {
  margin: 0;
	font-family: var(--font-text);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  color: var(--global-color-2);
	line-height: 1.6;
  background-color: var(--color-background);
}

//Heading
h1 {
  font-family: var(--h1-font-heading);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  color: var(--h1-color);
	line-height: var(--h1-line-height);

  @media screen and (max-width: 62em) {
    font-size: 2.2rem;
    line-height: 1.1;
  }
}

h2 {
  font-family: var(--h2-font-heading);
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  color: var(--h2-color);
	line-height: var(--h2-line-height);

  @media screen and (max-width: 62em) {
    font-size: var(--h3-size);
    line-height: var(--h3-line-height);
  }
}

h3 {
  font-family: var(--h3-font-heading);
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  color: var(--h3-color);
	line-height: var(--h3-line-height);

  @media screen and (max-width: 62em) {
    font-size: 1.5rem;
  }
}

a {
  color: var(--link-color);
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding-block-start: 2rem;
  padding-block-end: 2rem;
  position: relative;
  z-index: 10;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.3);
  }


  &--bg {
    background: var(--global-color-3) url(../img/banner.jpg) 0 0 no-repeat;
    background-size: cover;
  }
}

.heading {

  h1 {
    @media screen and (min-width: 62em) {
      font-size: 3rem;
    }

    span {
      color: var(--global-color-1);
    }
  }

  h4{
    color: var(--global-color-1);
  
    span {
      display: inline-block;
      background-image: url(../img/pin-mapz.svg);
      background-position: left top;
      background-repeat: no-repeat;
      background-size: 25px auto;
      padding-left: 30px;
    }
  }
}

.logoz {
    img {
      width: 280px;
    }

    @media screen and (max-width: 62em) {
      img {
        width: 200px;
      }
  }
}

.icon-map {
  img {
    width: 100px;
  }
}

footer {
  font-size: 0.8em;
}

